* {
	margin: 0px;
	padding: 0px; /*does nothing*/
}
body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #171717;
	font-size: 16px;
	line-height: 1.5em;
	background-image: url(../image/bg-tile.jpg);
	background-repeat: repeat-x;
}
#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFF;
	margin-top: 20px;
	border: 1px solid #CCC;
}
#header {
	background-image: url(../image/assessment-4.webp);
	height: 140px;
}
#header h1 {
	margin: 0;
	padding: 0;
	height: 100%;
}
#header h1 a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
#nav {
	background-color: #000;
}
#nav ul {
	list-style-type: none;
	margin-left: 10px;
}
#nav ul li {
	display: inline;
	height: 35px;
	line-height: 35px;
}
#nav ul li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}
#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	color: #FFF;
}
#nav ul li a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#content {
	margin: 20px;
}
#content p {
	margin-top: 5px;
	margin-bottom: 15px;
}
.alert {
	background-color: #b9b9b9;
	border: 1px solid #8f98ac;
	padding: 10px;
	margin-bottom: 20px;
}
h2 {
	font-size: 24px;
	color: #333;
	margin-bottom: 10px;
}
h3 {
	font-size: 20px;
	color: #555;
	margin-bottom: 8px;
}
h4 {
	font-size: 18px;
	color: #777;
	margin-bottom: 5px;
}
dl {
	margin-bottom: 15px;
}
dt {
	font-weight: bold;
	color: #333;
}
dd {
	margin-left: 20px;
	color: #555;
}
.favorite:hover {
	background-color: #ff0000;
}
#footer {
	background-color: #000;
	color: #FFF;
	height: 25px;
}
#footer h6 {
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
}
#footer h6 a {
	color: #FFF;
	text-decoration: none;
}
