body {
    background-color: #c9c47c; /* yellowishg background */
    font-family: "Times New Roman", serif;
    color: black;
    margin: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    margin-top: 25px;
}

a {
    color: red;
    text-decoration: underline;
}

a:hover {
    color: darkred;
}

ul {
    margin-left: 20px;
}